<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lavanderia Safira</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="{{ url_for('auth.profile') }}">User</a></li>
            <li><a href="{{ url_for('conversation.history') }}">Conversations</a></li>
            <li><a href="{{ url_for('botSetting.bot_setting') }}">Bot Setting</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        </ul>
    </div>
    
    <div class="content">
        <header>
            <h1>Lavanderia Safira</h1>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>&copy; 2025 Lavanderia Safira</p>
        </footer>
    </div>
</body>
</html>
